{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamatis - succulent shop</title>
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/style-delivery.css' %}" rel="stylesheet">
</head>

<body>

    {% include "header.html" %}

    <main>
        <div class="container">

            <h1>Доставка и оплата</h1>

            <h2>Cпособы доставки</h2>

            <a href="https://novaposhta.ua/ru"><img src="{% static 'assets/images/delivery/nova-poshta.png' %}"
                    alt="nova-poshta"></a>
            <h3>Доставка по Украине на отделение компании "Нова пошта":</h3>
            <p>При заказе на сумму свыше 1200 грн – доставка Бесплатная. При получении вашего заказа Вы оплачиваете
                только сумму заказа.</p>
            <p>При заказе на сумму до 1200 грн - стоимость доставки 65 грн.</p>
            <p>Доставка заказаного товара на склад транспортной компании "Нова пошта" - от 1 до 3 суток после отправки.
                Нова Пошта</p>

            <a href="https://www.ukrposhta.ua/ru"><img src="{% static 'assets/images/delivery/ukrposhta.png' %}"
                    alt="ukrposhta" class="ukr"></a>
            <h3>Доставка по Украине на почтовое отделение "Укрпочты":</h3>
            <p>При заказе на сумму свыше 1200 грн – доставка Бесплатная. При получении вашего заказа Вы оплачиваете
                только сумму заказа.</p>
            <p>При заказе на сумму до 1200 грн – стоимость доставки 55 грн.</p>
            <p>Доставка заказаного товара на почтовое отделение "Укрпочты" - от 3 до 7 суток после отправки.
                Укрпошта</p>

            <h3>Доставка по Украине в руки:</h3>
            <p>При заказе на сумму свыше 1200 грн – стоимость доставки 55 гривен.</p>
            <p>При заказе на сумму до 1200 грн - стоимость доставки 99 гривен</p>


            <h2>Cпособы оплаты</h2>

            <h3>Наличная:</h3>
            <p>Оплата наличными при получении товара в отделении “Новая Почта” или “Укрпочта”. Оплата производиться
                после проверки посылки.Оплачивая заказ в отделении почты, Вы подтверждаете факт проверки посылки на
                соответствие Вашему заказу.</p>
            <p>Обратите внимание что Вы НЕ оплачиваете стоимость обратной пересылки денег за заказ.</p>

            <h3>Онлайн-оплата Liqpay:</h3>
            <p>Оплата заказа онлайн банковской картой Visa или MasterCard. Доставка заказа производиться только после
                подтверждения оплаты. Чтобы оплатить заказ онлайн, при формлении заказа, выберитие в корзине пункт
                “Оплата онлайн (Приват24)”. После нажатия кнопки “Подтвердить заказ”, Вы будете переадресованы на
                страницу системы безопасных платежей, где Вам необходимо будет подтвердить оплату.</p>
            <p>Пожалуйста, обратите внимание, получить товар, оплаченный платежной картой, может только тот
                клиент, чьи ФИО были указаны на сайте во время оформления заявки, поэтому при получении заказа
                обязательно нужно иметь при себе паспорт.</p>
        </div>
    </main>

    {% include "footer.html" %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'assets/js/delivery.js' %}"></script>
</body>

</html>