{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamatis - succulent shop</title>
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <style>
body .preloader{position:fixed;left:0;top:0;right:0;bottom:0;overflow:hidden;background:#fff;z-index:1001}body .preloader .preloader__image{position:relative;top:50%;left:50%;width:64px;height:64px;margin-top:-32px;margin-left:-32px;background:url(../images/loading_icon.svg) no-repeat 50% 50%;animation:preloader-rotate 1s infinite linear}@keyframes preloader-rotate{100%{transform:rotate(360deg)}}body.loaded_hiding .preloader{transition:.3s opacity;opacity:0}body.loaded .preloader{display:none}
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" as="style"
        rel="preload" onload="this.rel='stylesheet'" class="style_link">
    <link href="{% static 'assets/css/leaflet.min.css' %}" as="style" rel="preload" onload="this.rel='stylesheet'"
        class="style_link">
    <link href="{% static 'assets/css/style-contact.min.css' %}" as="style" rel="preload" onload="this.rel='stylesheet'"
        class="style_link">

    <script>
        const SITE_URL = '';
        function supportsPreload() { let rl = document.createElement("link").relList; if (rl.supports && "preload") { return rl.supports("preload"); } else { return false; } }
        if (!supportsPreload()) {
            let style_links = document.getElementsByClassName("style_link");
            for (let i = 0; i < style_links.length; i++) {
                style_links[i].setAttribute("rel", "stylesheet");
                style_links[i].removeAttribute("as");
                style_links[i].removeAttribute("onload");
            }
            let font_links = document.getElementsByClassName("font_link");
            for (let i = 0; i < font_links.length; i++) {
                font_links[i].setAttribute("rel", "font");
            }
        }
    </script>
</head>

<body>
    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    {% include "header.html" %}
    <main>
        <h1>Контакты</h1>
        <div class="container">
            <div class="about">
                <div id="map"></div>
                <div class="info">
                    <h2>Hamatis - магазин суккулентов</h2>
                    <div class="address">ул.Соборная, 3А г.Николаев</div>
                    <div class="chart">График работы магазина</div>
                    <div class="days">Пн - Сб 9-18</div>
                    <div class="days">Вс - выходной</div>
                    <div class="phone"><span>Связаться с нами</span>
                        <a href="tel:0682707080">0682707080</a>
                        <a href="tel:0682700770">0682700770</a>
                    </div>
                    <a href="mailto:office@hamatisshop.ua">e-mail:office@hamatisshop.ua</a>
                </div>
            </div>
            <div class="connection">
                <h2>Обратная связь</h2>
                <form action="" method="POST">
                    <div class="input">
                        <input type="text" name="name" placeholder="Ваше имя">
                        <input type="text" name="topic" placeholder="Тема сообщения">
                        <input type="email" name="email" placeholder="Ваш имейл">
                    </div>
                    <div class="area"><textarea name="text" placeholder="Текс сообщения..."></textarea></div>
                    <div class="btn"><button class="mail-btn" type="submit">Отправить</button></div>
                </form>
            </div>
        </div>
    </main>
    {% include "footer.html" %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'assets/plugins/leaflet/leaflet.min.js' %}"></script>
    <script src="{% static 'assets/js/contact.js' %}"></script>
</body>

</html>